@if (state) {
  <div class="flex align-items-center justify-content-center" style="height: 70vh;">
    <div class="grid w-full">
      <div class="col"></div>
      <div class="col-3">
        <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmitForm(updatePasswordForm.value)">
        <span class="flex pb-2 text-3xl text-blue-800">Reset Password</span>
        <div class="flex flex-column justify-content-between h-20rem p-3 border-1 border-round-lg border-blue-800 hover:border-cyan-700" 
            style="background-image:url('assets/registerBackGround.jpg'); background-size: cover;">
          <div class="flex-grow-1 flex align-items-center">
            <div class="flex flex-column gap-4 w-full">
              <div class="flex flex-column gap-2 w-full">
                <label for="password">Password</label>
                <p-password 
                      inputId="password"
                      formControlName="password" 
                      [feedback]="false" 
                      [toggleMask]="true"
                      inputStyleClass="w-full"
                      styleClass="w-full" />
                      <div class="flex justify-content-start">
                        <small [class]="getPasswordValidation('hasUpperCase')">A Capital Letter</small>
                        <small [class]="getPasswordValidation('hasNumber')">A Number</small>
                        <small [class]="getPasswordValidation('hasSpecialChar')">A Special Char</small>
                    </div>
              </div>
              <div class="flex flex-column gap-2 w-full">
                <label for="confirmPassword">Confirm Password</label>
                <p-password 
                      inputId="confirmPassword"
                      formControlName="confirmPassword" 
                      [feedback]="false" 
                      [toggleMask]="false"
                      inputStyleClass="w-full"
                      styleClass="w-full" />
                      @if (updatePasswordForm.get('confirmPassword').touched && updatePasswordForm.get('confirmPassword').invalid)
                      {
                          <small class="text-red-400">Comfirm password cannot be empty</small>
                      }@else if (updatePasswordForm.hasError('notSame')) 
                      {
                          <small class="text-red-400">Password does not match</small>
                      }
              </div>
            </div>
          </div>
          <div class="flex justify-content-end mt-3">
            <p-button label="Submit" type="submit" [disabled]="updatePasswordForm.invalid" />
          </div>
        </div>
      </form>
      </div>
      <div class="col"></div>
    </div>
  </div>
}@else {
  <div class="bg-primary">
    <span>Hatalı İstek</span>
  </div>
}
