<div class="flex align-items-center justify-content-center" style="height: 70vh;">
    <div class="grid w-full">
      <div class="col"></div>
      <div class="col-3">
        <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmitForm(passwordResetForm.value)">
            <span class="flex pb-2 text-3xl text-blue-800">Reset Password</span>
            <div class="flex flex-column justify-content-between h-20rem p-3 border-1 border-round-lg border-blue-800 hover:border-cyan-700" 
                style="background-image:url('assets/registerBackGround.jpg'); background-size: cover;">
            <div class="flex-grow-1 flex align-items-center">
                <div class="flex flex-column gap-2 w-full">
                <label for="mailAddress">Mail Address</label>
                <input
                    pInputText
                    id="mailAddress"
                    aria-describedby="username-help"
                    type="email"
                    formControlName="email"
                />
                <small *ngIf="false" id="username-help">
                    Enter your email address.
                </small>
                </div>
            </div>
            <div class="flex justify-content-end mt-3">
                <p-button label="Submit"  type="submit"/>
            </div>
            </div>
        </form>
      </div>
      <div class="col"></div>
    </div>
  </div>