<span class="flex mt-3">Create a role</span>
<div class="flex justify-content-center p-2 border-blue-700 shadow-1">
    <form [formGroup]="roleForm" (ngSubmit)="createRoleOnSubmit(roleForm.value)" class="flex flex-row w-full">
        <input 
            type="text" 
            pInputText 
            formControlName="name" 
            class="h-2rem flex-grow-1 w-auto sm:w-20rem md:w-25rem lg:w-30rem"
        />
        <p-button 
            label="Create" 
            [raised]="true" 
            severity="success" 
            styleClass="h-2rem ml-2 w-auto" 
            type="submit"
        />
    </form>
</div>