<div class=" mt-2">
    <div class="grid">
        <div class="col-12">
            <div class="grid">
                @for (product of products; track $index) {
                    <div class="col-12 md:col-6 lg:col-4">
                        <div class="p-1 shadow-3 border-round-lg">
                            <div class="p-3">
                            <div class="relative shadow-1 border-round-sm">
                                <!-- <img src="assets/default-product-image.webp" class="w-full h-full"  alt="productImage"> -->
                                <p-tag [value]="product.stock > 10 ? 'INSTOCK':product.stock == 0 ? 'OUTSTOCK':'LOWSTOCK'" [severity]="product.stock > 10 ? 'success':product.stock == 0 ? 'danger':'warning' " class="absolute top-0 right-0 z-1"/>
                                    <div class="w-full h-30rem border-round-lg ">
                                        <p-image 
                                          *ngIf="product.productImagesFile"
                                          [src]="getProductImageSrc(product)"
                                          alt="Image"
                                          imageClass="w-full h-30rem object-contain object-center border-round-lg"
                                          [preview]="true"
                                        ></p-image>
                                      </div>
            
                            </div>
                            <div class="flex justify-content-between align-items-center mt-3">
                                <span class="text-900 font-medium text-2xl">{{product.name}}</span>
                            </div>
                            <p class="text-600 line-height-1 text-sm">Açıklama kısmı</p>
                            <div class="flex justify-content-between align-items-center">
                                <span class="text-900 text-xl font-medium text-blue-400">{{ product.price| currency:'₺' }}</span>
                                <p-button label="Add to cart" icon="pi pi-check" />
                            </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-12">
            <p-paginator 
                        (onPageChange)="onPageChange($event)" 
                        [first]="first"
                        [rows]="rows" 
                        [totalRecords]="totalProductCount" 
                        [rowsPerPageOptions]="[12, 24, 48]"
                        class="w-full" 
                        [showCurrentPageReport]="true"
                        currentPageReportTemplate="{first} - {last} of {totalRecords}" />
        </div>
    </div>
    
</div>