<div class="grid grid-nogutter">
<div class="col"></div>
<div class="col-7">
    <div class="">
        <div class="product-list mt-5">
            <h2>Your Basket</h2>
            <p-divider></p-divider>
          @for (basketItem of basketItems$ | async; track basketItem.basketItemId; let last = $last) {
            <div [attr.id]="basketItem.basketItemId" class="product-item flex align-items-start p-3">
                <p-image 
                    [src]="getProductImageSrc(basketItem)" 
                    alt="Image" 
                    width="230"
                    imageClass="border-round-lg" />
              <div class="flex-grow-1 ml-3">
                <h3 class="m-0">{{basketItem.name}}</h3>
                <div class="mt-2">
                    <!-- <p-dropdown 
                        [options]="[1,2,3,4,5]"
                        class="mb-2"  
                        styleClass="h-3rem w-6rem"
                        [editable]="true"
                        [checkmark]="true">
                    </p-dropdown> -->
                    <input type="number" #basketItemInput placeholder="Qtty:" [value]="basketItem.quantity" (change)="changeQuantity(basketItem.basketItemId,basketItemInput.value)" class="w-3rem h-1.3rem text-center border-round-lg border-1 border-500" min="0">
                </div>
              </div>
              <div class="flex flex-column align-items-end">
                <span class="text-900 text-2xl font-medium">{{ basketItem.price | currency:'₺' }}</span>
                <a class="text-red-700 no-underline text-sm mt-3 cursor-pointer" (click)="removeBasketItem(basketItem.basketItemId)">Remove</a>
              </div>
            </div>
              <p-divider></p-divider>
          }
          <span class="text-2xl flex justify-content-end mb-5">Total:<span class="text-900 text-2xl font-medium ml-2"> {{ totalPrice() | currency:'₺' }}</span> </span>
        </div>
      </div>
</div>
<div class="col">
    <div class="border-1 border-round-sm mt-8 ml-2 mr-2 w-20rem">
        <span class="text-xl flex justify-content-center b-5 pt-3">Total:<span class="text-900 text-xl font-medium ml-2"> {{ totalPrice() | currency:'₺' }}</span> </span>
        <p-divider></p-divider>
        <p-button class="h-2rem flex justify-content-center mb-3 " 
                label="Complete Shopping" 
                [rounded]="true" 
                severity="success"
                (onClick)="complateShopping()" />
    </div>
</div>
</div>

<!-- <div class="grid grid-nogutter">
    <div class="col">2</div>
    <div class="col-8 ">
        <h1>Your basket</h1>
        <div class="divider">
            <p-divider type="solid"></p-divider>
            <div class="flex">
                <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria10.jpg" 
                    alt="Image"
                    width="250" />
                <div class="w-full">
                    <p class="pl-5 text-xl m-0 font-medium">Product Name</p>
                    <p class="m-0 flex justify-content-end align-items-start">asdasd</p>
                </div>
                <div class="w-full">
                    <div class="flex align-items-start justify-content-between h-4rem font-bold border-round">
                        <p class="pl-5 text-xl m-0 font-medium flex justify-content-start">Product Name</p>
                        <p class="m-0 flex justify-content-end align-items-start">Price</p>
                    </div>
                </div>
                <div class="">
                    <input type="number" class="h-1.3rem">
                 </div>
            </div>
            
        </div>
    </div>
    <div class="col">3</div>
</div> -->