<p-dialog 
        [header]="nodesName" 
        [resizable]="false" 
        [modal]="true" 
        appendTo="body" 
        [(visible)]="dialogVisible" 
        [style]="{width: '30vw'}"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
        >
        <div class="flex justify-content-between">
            <p-button label="To Assign" [outlined]="true" severity="danger" (onClick)="assimgRole()" />
            <p-badge [value]="selectedRoles.length" badgeSize="large" severity="warning" />
        </div>
        <div *ngFor="let role of roles" class="field-checkbox h-3rem">
            <p-checkbox 
                [(ngModel)]="selectedRoles"
                [label]="role" 
                name="group" 
                [value]="role"/>
        </div>
        <div>
        </div>

    </p-dialog>